// .main_container {
//   // background-image: url("https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
//   width: 100%;
//   min-height: 800px;
//   background-position: center;
//   background-size: cover;
// }

// .cars_container {
//   max-width: 1000px;
//   width: 100%;
//   min-height: 300px;
//   margin: auto;
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   flex-wrap: wrap;
//   background-color: rgb(224, 224, 224);
// }

.cars_card_detail {
  max-width: 700px;
  width: 100%;
  height:426px;
  // border: 1px solid black;
  text-align: center;
  border-radius: 6px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    .slider-content {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease;

      .slider-image {
        max-width: 700px;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 5px;
      }
    }

    .prev-btn,
    .next-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      z-index: 1;

      &.prev-btn {
        left: 10px;
      }

      &.next-btn {
        right: 10px;
      }
    }
  }
}

.cars_image {
  position: relative;
  max-width: 400px;
  width: 100%;
  min-height: 400px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.odeme_2_container{
  max-width: 370px;
  width: 100%;
  min-height: 500px;
  border: 1px solid black;

  h2{
    font-size: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
  }

  p{
padding-left: 10px;
    text-align: left;
    font-size: 18px;
    color: rgb(119, 119, 119);

  
  }
  span{
    font-size: 18px;
    color: black;
    font-weight: 500;
  }
  .desc_productss{
    padding-bottom: 20px;
    }
}
.urey_icon {
  position: absolute;
  z-index: 1;
  padding: 5px;
  font-size: 20px;
}

.desc_auto_detail {
  max-width: 940px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
  margin: auto;
  // min-height: 500px;
  // padding: 10px;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
}

.desc_without_api{
  p{
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
}
.desc_with_api{
  p{
    max-width: 200px;
    font-size: 15px;
    color: rgb(100, 99, 99);
    margin-left: 50px;
    height: 32px;
    display: flex;
    padding: 5px;
  }
}
.price {
  font-weight: 700;
  font-size: 20px;
}
.model {
  font-family: "Poppins", sans-serif;
}
.il_motor_km {
  width: 100%;
  display: flex;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  gap: 20px;
}

.title {
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.elan_novu {
  font-weight: 700;
  max-width: 600px;
  padding-right: 10px;
}

// .desc {
//   padding-left: 15px;
//   font-size: 20px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: 500;
// }

.odeme_detail_container {
  max-width: 300px;
  width: 100%;
  max-height: 400px;
  margin: 10px;
  background-color: rgb(236, 236, 236);
  border-radius: 6px;
}

.detail_container {
}
.cars_and_payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.detail_desc_icons_container {
  max-width: 905px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(122, 122, 122);
  text-align: center;
  margin: auto;
  justify-content: center;
  // margin: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 20px;
}



.detail_card_with_icon {
  max-width: 180px;
  width: 100%;
  min-height: 170px;
  border-right: 1px solid rgb(192, 192, 192);
}
.detail_card_with_icon2 {
  max-width: 180px;
  width: 100%;
  min-height: 130px;
}

.fa-dharmachakra,
.fa-plus,
.fa-truck,
.fa-coins,
.fa-left-long {
  font-size: 30px;
  color: orangered;
  // padding-top: 10px;
}
.zemanet {
  max-width: 200px;
  font-size: 17px;
  padding: 5px 0px 0px;
  font-weight: 700;
  height: 40px;
}
.texniki_xidmet {
  max-width: 200px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 5px 0px 5px;
  color: rgb(150, 150, 150);
}

.detail_footer_container {
  width: 100%;
  min-height: 200px;
  margin-top: 60px;
  // flex-wrap: wrap;

  h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
  }
  p {
    max-width: 600px;
    width: 100%;
    font-weight: 700;
    color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
}
.alt_xett_detail {
  max-width: 280px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(133, 133, 133);
}

.detail_price {
  font-size: 30px;
  font-weight: 650;
  max-width: 300px;
  padding: 10px;
}

.detail_pric {
  font-weight: 400;
  color: rgb(36, 36, 36);
}

.detail_pricee {
  font-weight: 650;
  padding-left: 4px;
}

.admin_info_container {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  margin-left: 10px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
}

.admin_info {
  width: 100%;
  height: 0;
  font-size: 20px;
  display: flex;
}
.city_info {
  font-size: 18px;
  color: rgb(138, 138, 138);
}

.user_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(138, 138, 138);
}

.btn_s {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.payment_btn {
  max-width: 350px;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: orangered;
  border-radius: 6px;
  font-weight: 600;
  margin: auto;
  a {
    color: white;
  }
}

.nomre_btn {
  max-width: 260px;
  width: 100%;
  min-height: 75px;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: green;
  border-radius: 6px;
  font-weight: 600;

  a {
    color: white;
  }
}

.nomre_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  font-size: 18px;
}

.fa-phone {
  font-size: 18px;
  height: 30px;
}

.benzer_elanlar_container {
  max-width: 1000px;
  width: 100%;
  min-height: 500px;
  background-color: rgb(230, 229, 229);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10px;
}

.benzer_elanlar_h2 {
  font-size: 20px;
  padding-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  width: 700px;
  // width: 100%;
}

.benzer_elan_div {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: left;
}


.elanlar_all {
  display: flex;


}
@media screen and (max-width:600px) {
  .desc_auto_detail{
    margin: auto;
    display: flex;
    justify-content: center;
  }
}